@{
    Layout = null;
}
@{
ViewData["Title"] = "callvideo";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
</head>

<body>
    <video id="localstream" width="300" controls></video>
    <script src="~/js/Client.js"></script>
</body>
</html>

